body {
    font-family: 'Verdana', Helvetica, sans-serif;
    padding-bottom: 60px;
}

@media (max-width: 992px) {
    body {
        padding-bottom: 120px;
    }
}

h3 {
    margin: 5px 0;
}

code {
    font-family: 'Courier New', Courier, monospace;
}

blockquote{
    font-size: 1.2em;
}

/* override bootstrap defaults */
.row{
    padding: 3px 0px;
}

canvas{
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
   min-width: 100px;
   background-color: #eee;
   border: 1px solid #111;
}

button:hover {
   background-color: #bbb;
}

select {
   width: 100px;
}

input[type="number"] {
   width: 100px;
}

input[type="range"] {
    display: inline-block;
    max-width: 150px;
    -webkit-appearance: none;
    padding-top: 10px;
    background: rgba(0, 0, 0, 0);
}

input[type=range]::-webkit-slider-runnable-track {
    height: 2px;
    background: #ddf;
    border: none;
    border-radius: 3px;
    margin-top: -10px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #000080;
    margin-top: -6px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    height: 2px;
    background: #ddf;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #000080;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type="color"] {
   width: 100px;
   border: none;
   padding: 0px;
}

.color-round {
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 9px;
    overflow: hidden;
    cursor: pointer;
}

.color-round-big {
    width: 26px;
    height: 26px;
    border: 2px solid #000;
    border-radius: 13px;
    overflow: hidden;
    cursor: pointer;
}

.slider-value {
    display: inline-block;
    width: 10px;
}

@media(max-width: 600px) {
    button {
       min-width: 65px;
    }

    select {
       width: 65px;
    }

    input[type="number"] {
       width: 65px;
    }

    input[type="color"] {
       width: 30px;
    }
}

/* checkbox slider */
input[type=checkbox] {
	visibility: hidden;
}

.checkBoxSlider {
	width: 50px;
	height: 16px;
	background: #333;
	margin: auto;
    text-align: right;
    margin-top: 2px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.checkBoxSlider:after {
	content: 'OFF';
	color: #000;
	position: absolute;
    top: 0px;
	right: 5px;
	z-index: 0;
	font-weight: bold;
    font-size: 0.8em;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.checkBoxSlider:before {
	content: 'ON';
	color: #00bf00;
	position: absolute;
	left: 5px;
	z-index: 0;
	font-weight: bold;
    font-size: 0.8em;
}

.checkBoxSlider label {
	display: block;
	width: 24px;
	height: 10px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.checkBoxSlider input[type=checkbox]:checked + label {
	left: 22px;
}

/* page */
.page-header{
    margin: 2px 0px;
    text-align: center;
    font-family: 'Verdana', Helvetica, sans-serif;
}

.page-header h1{
    margin: 0;
}

.page-content{
    font-size: 1.0em;
    text-align: justify;
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
}

/* for landing page */

/* control panel */
.control-panel-group {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    margin-top: -30px;
}

.control-panel-group-left {
    left: 0;
}

.control-panel-group-right {
    right: 0;
}

.control-panel {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 0px;
	border-radius: 5px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.control-panel-group-bottom {
    text-align: center;
    padding: 5px;
    background-color: #ccc;
	border-radius: 5px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.control-panel-bottom {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    padding: 10px 0px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.control-panel-bottom  img{
    width: 50px;
    height: 40px;
    padding: 5px 10px;
    margin: 0px 5px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
}

.control-panel-bottom  img:hover{
    background-color: rgba(200, 200, 200, 1.4);
}

.help-panel {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    margin: 0px auto;
    right: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.help-panel *{
    padding-bottom: 0px;
}

.info-panel {
    font-weight: bold;
    background-color: rgba(238, 228, 218, 0.8);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 992px) {
    .hide-for-sm {
        display: none;
    }
}

@media (max-width: 768px) {
    .hide-for-xs {
        display: none;
    }

    .small-font-for-xs {
        font-size: 0.8em;
    }
}

.panel-cell {
    text-align: center;
    padding: 0px 6%;
}

.control-panel-title {
    cursor: pointer;
    color: #666;
}

.control-panel-title:hover{
    color: #222;
}

.span-button {
    color: #222;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
}

.span-button:hover {
    color: #000;
    background-color: #666;
}

.canvas-info {
    position: absolute;
    left: 0;
    z-index: 1;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.8);
    padding: 2px;
    margin-top: -30px;
    border-radius: 5px;
}

.thumbnail-panel {
	border-radius: 5px;
}

.thumbnail-panel  img{
    width: 50px;
    height: 50px;
    margin: 2px 1px;
    cursor: pointer;
    border: 1px solid #999;
    border-radius: 5px;
}

.thumbnail-panel  img:hover{
    background-color: rgba(200, 200, 200, 1.4);
    border: 2px solid #000;
}

/* footer */
.footer {
    background-color: #f5f5f5;
    left: 0;
    bottom: 0;
    min-height: 10px;
    position: fixed;
    width: 100%;
}
