body {
    font-family: 'Verdana', Helvetica, sans-serif;
    padding-bottom: 60px;
}

@media (max-width: 992px) {
    body {
        padding-bottom: 120px;
    }
}

h3 {
    margin: 5px 0;
}

code {
    font-family: 'Courier New', Courier, monospace;
}

blockquote{
    font-size: 1.2em;
}

canvas{
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
   min-width: 100px;
   background-color: #eee;
   border: 1px solid #111;
}

button:hover {
   background-color: #bbb;
}

select {
   width: 100px;
}

input[type="number"] {
   width: 100px;
}

input[type="range"] {
    display: inline-block;
    max-width: 150px;
    -webkit-appearance: none;
    padding-top: 10px;
    background: rgba(0, 0, 0, 0);
}

input[type=range]::-webkit-slider-runnable-track {
    height: 2px;
    background: #ddf;
    border: none;
    border-radius: 3px;
    margin-top: -10px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #000080;
    margin-top: -6px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    height: 2px;
    background: #ddf;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #000080;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type="color"] {
   width: 100px;
   border: none;
   padding: 0px;
}

.color-round {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
}

.slider-value {
    display: inline-block;
    width: 10px;
}

@media(max-width: 600px) {
    button {
       min-width: 65px;
    }

    select {
       width: 65px;
    }

    input[type="number"] {
       width: 65px;
    }

    input[type="color"] {
       width: 30px;
    }
}

/* page */
.page-header{
    margin: 2px 0px;
    text-align: center;
    font-family: 'Verdana', Helvetica, sans-serif;
}

.page-header h1{
    margin: 0;
}

.page-content{
    font-size: 1.0em;
    text-align: justify;
    hyphens: auto;
    padding-top: 20px;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
}

/* for landing page */


/* footer */
.footer {
    background-color: #f5f5f5;
    left: 0;
    bottom: 0;
    min-height: 10px;
    position: fixed;
    width: 100%;
}