---
layout: default
---

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
        <div class="page">
            <header class="page-header">
                <h3 class="page-subtitle"> {{ page.subtitle }} </h3>
                {% if page.coursera %}
                    <small>Interactive Computer Graphics with WebGL on <a href="https://www.coursera.org/course/webgl">Coursera</a></small>
                {% endif %}
            </header>
            <article class="page-content">
                {{ content }}
            </article>
        </div>
    </div>
</div>